<nav>
    <h1 id="pageTitle">Home</h1>
    
    <ul>
      
      <li><a href="/" >Home</a></li>
      <li><a href="/newalbum" >New Album</a></li>
      <li><a href="/newImage" >New Image</a></li>
      <li><a href="/logout" class="btn">Log out</a></li>
    </ul>
  </nav>