<%- include('partials/header'); -%>
<%- include('partials/navbar-home'); -%>

<header>
  <div class="smoothie">
    <img src="./Gallery-PNG-Free-Download.png" alt="">
  </div>
  <div class="headings">
    <h2>Welcome, <%=user.nickname%></h2>
    <h3>&nbsp;</h3>
    <a href="/images" class="btn">View Images</a>
    <a href="/albums" class="btn">View Albums</a>
  </div>
</header>


<%- include('partials/footer'); -%>