<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>

    <form>
        <h2>Register</h2>
        <label for="email">Email</label>
        <input type="text" name="email" required>
        <div class="email error"></div>

        <label for="nickname">Nickname</label>
        <input type="text" name="nickname" required>
        <div class="nickname error"></div>

        <label for="password">Password</label>
        <input type="password" name="password" required>
        <div class="password error"></div>
        <button>Register</button>
    </form>
    <script>
        const form = document.querySelector('form');
        const emailError = document.querySelector('.email.error');
        const nicknameError = document.querySelector('.nickname.error');
        const passwordError = document.querySelector('.password.error');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            //reset errors
            emailError.textContent = "";
            nicknameError.textContent = "";
            passwordError.textContent = "";

            //get values
            const email = form.email.value;
            const nickname = form.nickname.value;
            const password = form.password.value;
            try {
                const res = await fetch('/register', {
                    method: 'POST',
                    body: JSON.stringify({ email, nickname, password }),
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await res.json();
             
                if (data.errors) {
                    emailError.textContent = data.errors.email;
                    nicknameError.textContent = data.errors.nickname;
                    passwordError.textContent = data.errors.password;
                }
                if (data.user) {
                    location.assign('/')
                }
            }
            catch (err) {
                console.log(err);
            }

        })
    </script>

    <%- include('partials/footer'); -%>